<div class="cart-modal" *ngIf="aberto">

    <div class="cart-content">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Seu Carrinho</h2>

            <button class="close-btn">
                ×
            </button>
        </div>

        <div id="cart-items">

            <div 
                class="cart-item"
                *ngFor="let item of itens; let i = index">

                <div>
                    <strong>{{ item.nome }}</strong>
                    <p>R$ {{ item.preco.toFixed(2) }}</p>
                </div>

                <button 
                    class="btn btn-danger"
                    (click)="removerProduto(i)">
                    Remover
                </button>

            </div>

        </div>

        <div class="cart-footer">

            <strong>
                Total: R$ {{ calcularTotal().toFixed(2) }}
            </strong>

            <button class="confirm-btn">
                Finalizar pedido
            </button>

        </div>

    </div>

</div>